<p class="footer text-gray-600 body-font sm:fixed sm:bottom-0 sm:left-0 sm:right-0">
  <div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
    <p class="text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4">Michal Wyka © 2022</p>
    <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
      <a class="text-gray-500" href="https://twitter.com/michal_wyka" target="_blank">
        <i class="fa-brands fa-twitter"></i>
      </a>
      <a class="ml-3 text-gray-500" href="mailto:michal@wyka.co.uk">
        <i class="fa-solid fa-envelope"></i>
      </a>
      <a class="ml-3 text-gray-500" href="https://www.linkedin.com/in/michal-wyka/" target="_blank">
        <i class="fa-brands fa-linkedin"></i>
      </a>
    </span>
  </div>
</p>