{{ define "main" }}
<div id="body" class="text-gray-900">
  <!-- HERO -->
  <div class="grid">
    <div class="justify-items-center text-center mx-auto max-w-4xl sm:pb-20">
      <div class="title sm:pb-2">
        <h1 class="text-3xl sm:text-5xl mt-20 font-raleway font-semibold">
          {{ .Title }}
        </h1>
        <h2 class="text-2xl mt-5 font-raleway">
          {{ .Params.subtitle }}
        </h2>
      </div>
    </div>
  </div>
</div>
<div class="content px-16 text-center">
  <!-- {{ partial "metadata.html" . }} -->
  <div class="pb-4"></div>
  {{ .Content }}
</div>
  {{ end }}