{{ define "main" }}
<div id="body" class="bg-zinc-50 font-raleway text-gray-900 grid">
    <h1 class="text-3xl sm:text-5xl text-center mt-20 font-raleway font-semibold">My Writing</h1>
    <h2 class="text-xl sm:text-2xl text-center mt-5 font-raleway font-light px-8 lg:px-64">I'm hoping to represent a range of my interests, but for now it's mostly academic work that piqued my interest</h2>
    <!-- <h3 class="text-sm sm:text-base text-center mt-5 font-raleway font-light px-8 lg:px-64">Articles in Progress: "Mini Reshuffle: Who's Who", "Food Banks Scouring Fields for Leftovers"</h3> -->
    <div class="flex px-8 lg:px-64 mt-14">
        <div class="row">
            <div class="p-12">
                {{ range .Pages.ByPublishDate.Reverse }}
                <div class="py-8">
                    <a class="no-underline" href="{{ .RelPermalink }}">
                        <h3 class="text-start text-xl sm:text-2xl text-gray-900 font-semibold">
                            {{ .Title }}
                        </h3>
                        <!-- <div class="pb-4 text-start italic text-sm sm:text-base">
                            -{{ $dateTime := .PublishDate.Format "2006-01-02" }}
                            {{ $dateFormat := .Site.Params.dateFormat | default "Jan 2, 2006" }}
                            <time datetime="{{ $dateTime }}">{{ .PublishDate.Format $dateFormat }}</time> -
                        </div> -->
                        <div class="tags pb-6">
                            {{ with .Params.tags }}
                            <i data-feather="tag"></i>
                            {{ range . }}
                            {{ $href := print (absURL "tags/") (urlize .) }}
                            <a class="text-start text-sm sm:text-base font-semibold no-underline" href="{{ $href }}">{{ . }}</a>&nbsp;&nbsp;&nbsp;
                            {{ end }}
                            {{ end }}
                        </div>
                        <a class="text-sm sm:text-base no-underline text-gray-900" href="{{ .RelPermalink }}">
                            {{ .Summary }}
                        </a>
                        <p></p>
                        <button class="pt-8">
                            <a class="text-white hover:text-sky-800 text-md border-0 mt-6 py-1 px-4 focus:outline-none transition-all bg-sky-800 hover:bg-white rounded no-underline" href="{{ .RelPermalink }}">Read More</a>
                        </button>
                    </a>
                </div>
                {{ end }}
            </div>
        </div>

        <!-- <main>
            <header>
                <h1>{{ .Title }}</h1>
            </header>
            <div>
                {{ range .Pages }}
                {{ .Render "summary" }}
                {{ end }}
            </div>
        </main> -->

    </div>
</div>
{{ end }}